body {
		 color : blue ;
		 background-image : url();



}


h1 {
	 background : #00bfff ;
	 color : yellow;


}



h2 {

	 background : #00008b ;
	 color : yellow;

}


h5 {

	 background : #00008b ;
	 color : yellow;
